.message-box {
    width: 100%;
    height: calc(100vh - 285px);
    padding: 15px 0;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: scroll;

    @media (max-width: 768px) {
        height: calc(100vh - 220px);
    }
}