.message-bar {
    display: flex;
    height: 150px;
    width: 100%;

    @media (max-width: 768px) {
        height: 100px;
    }

    &__input {
        width: 75%;
        resize: none;
        padding: 20px;
    }

    &__button {
        width: 25%;
    }
}