.message {
    display: flex;
    margin-top: 10px;

    &:first-child {
        margin-top: unset;
    }

    &__content {
        width: 40%;
        display: flex;
        padding: 15px;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 10px;
        background-color: grey;
        color: white;

        &--info {
            width: 100%;
            text-align: center;
            color: black;
            background-color: unset;
            border: unset;
        }

        &--left {
            margin-right: auto;
            margin-left: 5px;
        }

        &--right {
            margin-right: 5px;
            margin-left: auto;
            text-align: right;
        }

        &__title {
            &--left {
                margin-left: auto;
            }

            &--right {
                margin-right: auto;
            }
        }
    }
}

.info-message {
    
}